#header
{
	margin-top: 5px;
	background-image: url("http://i.imgur.com/aU3xfWT.jpg");
	height: 30px;
	padding: 10px;

    color: #787878;
    font-family: verdana,sans-serif;
    font-size: 27px;
    font-weight: normal;
    letter-spacing: 4pt;
    line-height: 1;
    text-align: center;
    text-shadow: 8px 5px 15px rgba(5, 5, 5, 1);
    word-spacing: 18pt;

}


